<!DOCTYPE html>
<html>
  <head>
    <script src='vendor/bower_components/requirejs/require.js'></script>
  </head>
  <body>
    <div id='example'></div>
    <script>

      require.config({
        paths: {
          'react': 'vendor/bower_components/react/react',
          '<%= libname %>': '<%= slug %>'
        }
      });

      require(['react', '<%= libname %>'], function(React, <%= libname %>) {

        React.renderComponent(
          <%= libname %>(),
          document.getElementById('example')
        );

      });

    </script>
  </body>
</html>
